Ride Maker - Copy/RideMaker/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Ride Maker - Copy/RideMaker/obj/Debug/net9.0/RideMaker.GlobalUsings.g.cs
Ride Maker - Copy/RideMaker/obj/Debug/net9.0/RideMaker.AssemblyInfo.cs
Ride Maker - Copy/RideMaker/Program.cs
Ride Maker - Copy/RideMaker/Vehicle.cs
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfo.cs
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfoInputs.cache
