Ride Maker - Copy/RideMaker/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Ride Maker - Copy/RideMaker/obj/Debug/net9.0/RideMaker.GlobalUsings.g.cs
Ride Maker - Copy/RideMaker/obj/Debug/net9.0/RideMaker.AssemblyInfo.cs
Ride Maker - Copy/RideMaker/Program.cs
Ride Maker - Copy/RideMaker/Vehicle.cs
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfo.cs
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfoInputs.cache
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfoInputs.cache
ASP NET/viewmodel fun/ViewMod/obj/Debug/net9.0/ViewMod.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfoInputs.cache
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfoInputs.cache
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfo.cs
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfoInputs.cache
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfoInputs.cache
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
ASP NET/viewmodel fun/ViewMod/obj/Debug/net9.0/ViewMod.AssemblyInfoInputs.cache
ASP NET/viewmodel fun/ViewMod/obj/Debug/net9.0/ViewMod.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfoInputs.cache
ASP NET/DojoSurvey/obj/Debug/net9.0/DojoSurvey.AssemblyInfo.cs
ASP NET/DojoSurvey/obj/Debug/net9.0/DojoSurvey.AssemblyInfoInputs.cache
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfo.cs
ASP NET/viewmodel fun/ViewMod/obj/Debug/net9.0/ViewMod.AssemblyInfo.cs
ASP NET/razor/RazorList/obj/Debug/net9.0/RazorList.AssemblyInfoInputs.cache
ASP NET/viewmodel fun/ViewMod/obj/Debug/net9.0/ViewMod.AssemblyInfoInputs.cache
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfoInputs.cache
Drink/DrinkMaster/obj/Debug/net9.0/DrinkMaster.AssemblyInfo.cs
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfo.cs
Game Maker 1/GameMaker/obj/Debug/net9.0/GameMaker.AssemblyInfoInputs.cache
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfo.cs
puzzles/Puzzles/obj/Debug/net9.0/Puzzles.AssemblyInfoInputs.cache
ASP NET/DojoSurvey2/obj/Debug/net9.0/DojoSurvey.AssemblyInfo.cs
ASP NET/DojoSurvey2/obj/Debug/net9.0/DojoSurvey.AssemblyInfoInputs.cache
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.dll
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.exe
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.pdb
ASP NET/FormSubmission/obj/Debug/net9.0/apphost.exe
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.AssemblyInfo.cs
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.AssemblyInfoInputs.cache
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.dll
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.pdb
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.sourcelink.json
ASP NET/FormSubmission/obj/Debug/net9.0/ref/FormSubmission.dll
ASP NET/FormSubmission/obj/Debug/net9.0/refint/FormSubmission.dll
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.pdb
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.dll
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.exe
ASP NET/FormSubmission/bin/Debug/net9.0/FormSubmission.pdb
ASP NET/FormSubmission/obj/Debug/net9.0/apphost.exe
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.AssemblyInfo.cs
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.AssemblyInfoInputs.cache
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.dll
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.pdb
ASP NET/FormSubmission/obj/Debug/net9.0/FormSubmission.sourcelink.json
ASP NET/FormSubmission/obj/Debug/net9.0/ref/FormSubmission.dll
ASP NET/FormSubmission/obj/Debug/net9.0/refint/FormSubmission.dll
ORMs/CRUDelicious/appsettings.Development.json
ORMs/CRUDelicious/appsettings.json
ORMs/CRUDelicious/CRUDelicious.csproj
ORMs/CRUDelicious/obj/CRUDelicious.csproj.EntityFrameworkCore.targets
ORMs/CRUDelicious/obj/CRUDelicious.csproj.nuget.g.props
ORMs/CRUDelicious/Controllers/HomeController.cs
ORMs/CRUDelicious/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ORMs/CRUDelicious/obj/CRUDelicious.csproj.nuget.g.targets
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.AssemblyInfo.cs
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.AssemblyInfoInputs.cache
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.AssemblyInfoInputs.cache
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.assets.cache
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.csproj.FileListAbsolute.txt
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.GeneratedMSBuildEditorConfig.editorconfig
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.MvcApplicationPartsAssemblyInfo.cache
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.RazorAssemblyInfo.cs
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.AssemblyInfo.cs
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.assets.cache
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.csproj.FileListAbsolute.txt
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.GeneratedMSBuildEditorConfig.editorconfig
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.RazorAssemblyInfo.cache
ORMs/CRUDelicious/obj/project.nuget.cache
ORMs/CRUDelicious/Properties/launchSettings.json
ORMs/CRUDelicious/Views/_ViewStart.cshtml
ORMs/CRUDelicious/wwwroot/favicon.ico
ORMs/CRUDelicious/wwwroot/js/site.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css
ORMs/CRUDelicious/obj/project.assets.json
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.AssemblyInfoInputs.cache
ORMs/CRUDelicious/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.GlobalUsings.g.cs
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.csproj.AssemblyReference.cache
ORMs/CRUDelicious/obj/CRUDelicious.csproj.nuget.dgspec.json
ORMs/CRUDelicious/CRUDelicious.sln
ORMs/CRUDelicious/wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.csproj.AssemblyReference.cache
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
ORMs/CRUDelicious/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js
ORMs/CRUDelicious/wwwroot/lib/jquery-validation/dist/additional-methods.js
ORMs/CRUDelicious/wwwroot/lib/jquery-validation/dist/jquery.validate.js
ORMs/CRUDelicious/wwwroot/lib/jquery-validation/LICENSE.md
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.js
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.slim.min.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.esm.min.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/LICENSE
ORMs/CRUDelicious/wwwroot/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js
ORMs/CRUDelicious/wwwroot/lib/jquery-validation/dist/additional-methods.min.js
ORMs/CRUDelicious/wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.min.js
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.min.map
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.slim.js
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.slim.js
ORMs/CRUDelicious/wwwroot/lib/jquery/dist/jquery.slim.min.map
ORMs/CRUDelicious/wwwroot/lib/jquery/LICENSE.txt
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.css
ORMs/CRUDelicious/wwwroot/css/site.css
ORMs/CRUDelicious/Views/_ViewImports.cshtml
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.sourcelink.json
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.GlobalUsings.g.cs
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.rtl.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
ORMs/CRUDelicious/obj/Debug/net9.0/CRUDelicious.RazorAssemblyInfo.cs
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
ORMs/CRUDelicious/obj/Debug/net9.0/apphost.exe
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.RazorAssemblyInfo.cache
ORMs/CRUDelicious/obj/Debug/net8.0/CRUDelicious.csproj.CoreCompileInputs.cache
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.rtl.css.map
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-utilities.rtl.min.css
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
ORMs/CRUDelicious/wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.rtl.css
