<!DOCTYPE html>
<html>
<head>
    <title>Products & Categories</title>
</head>
<body>
    <nav>
        <a href="/products">Products</a> |
        <a href="/categories">Categories</a>
    </nav>
    <hr/>
    <main>
        @RenderBody()
    </main>
    @RenderSection("Scripts", required: false)
</body>
</html>
