<h2>Submitted Info</h2>

<p><strong>Name:</strong> @TempData["Name"]</p>
<p><strong>Dojo Location:</strong> @TempData["Dojo"]</p>
<p><strong>Favorite Language:</strong> @TempData["Language"]</p>
<p><strong>Comment (optional):</strong> 
    @TempData["Comment"]
</p>

<form action="/" method="get">
    <button type="submit">Go back</button>
</form>
